<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.tomosse.mses.mapper.extension.AccountMsnsExtensionMapper">
  <select id="selectMsnsWhereAccountId" parameterType="java.lang.Long" resultType="work.tomosse.mses.model.db.Msns">
     SELECT
       msns.id, msns.host, msns.port, msns.version, msns.created_at, msns.updated_at, account_msns.account_id
     FROM
       account_msns
     INNER JOIN
       msns
     ON
       account_msns.msns_id = msns.id
     WHERE account_msns.account_id = #{accountId};
  </select>
  <select id="selectWhereAccountId" parameterType="java.lang.Long" resultType="work.tomosse.mses.model.db.AccountMsns">
     SELECT
       id, account_id, msns_id, created_at, updated_at
     FROM
       account_msns
     WHERE account_id = #{accountId};
  </select>
</mapper>