<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>mses</title>
</head>
<body>
  <div layout:fragment="contents">
    <h1 class="title">Dashboard</h1>
    <a th:href="@{/whitelist}" class="button is-primary">white list</a>
    <a th:href="@{/ops}" class="button is-primary">ops</a>
    <span th:if="${account.getRole() == 'ADMIN'}">
      <a th:href="@{/account}" class="button is-info">account</a>
    </span>
  </div>
</body>
</html>