<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>mses</title>
</head>
<body>
  <div layout:fragment="contents">
    <h1 class="title">Dashboard</h1>
    <p th:text="${account.getName()} + ':' + ${account.getRole()}"></p>
    <span th:if="${account.getRole() == 'ADMIN'}">
      <a th:href="@{/account}" class="button is-primary">Account List</a>
      <a th:href="@{/msns/new}" class="button is-primary">New msns</a>
    </span>

    <div th:each="msns : ${msnsList}">
      <div class="card">
        <header class="card-header">
          <p th:text="${msns.getHost()}" class="card-header-title"></p>
        </header>
        <div class="card-content">
          <div class="content">
            <label>Minecraft Server Version</label>
            <p th:text="${msns.getVersion()}"></p>
            <label>Status</label>
            <ul th:each="entry : ${msns.getStatus()}">
              <li th:text="${entry.key} + ':' + ${entry.value}"></li>
            </ul>
          </div>
        </div>
        <footer class="card-footer">
          <a th:href="@{'/whitelist/' + ${msns.getId()}}" class="card-footer-item">white list</a>
          <a th:href="@{'/ops/' + ${msns.getId()}}" class="card-footer-item">ops</a>
        </footer>
      </div>
      <br />
    </div>
  </div>
</body>
</html>