<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>mses - account</title>
</head>
<body>
  <div layout:fragment="contents">
    <h1 class="title">Account List</h1>
    <a th:href="@{/dashboard}" class="button is-primary">Dashboard</a> <a
      th:href="@{/account/new}" class="button is-primary">Create
      account</a>
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>role</th>
        <th>created at</th>
        <th>updated at</th>
        <th>details</th>
        <th>edit</th>
        <th>delete</th>
      </tr>
      <tr th:each="account : ${accountList}">
        <td th:text="${account.getId()}"></td>
        <td th:text="${account.getName()}"></td>
        <td th:text="${account.getRole()}"></td>
        <td th:text="${account.getCreatedAt()}"></td>
        <td th:text="${account.getUpdatedAt()}"></td>
        <td><a th:href="@{'/account/' + ${account.getId()}}"
          class="button is-info">info</a></td>
        <td><a th:href="@{'/account/' + ${account.getId()} + '/edit'}"
          class="button is-primary">edit</a></td>
        <td>
          <form th:action="@{'/account/'  + ${account.getId()} + '/delete'}"
            th:method="DELETE">
            <input type="submit" value="delete" class="button is-danger">
          </form>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>