<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>mses - account</title>
</head>
<body>
  <div layout:fragment="contents">
    <h1 th:text="'Account Info: ' + ${account.getName()}" class="title"></h1>
    <a th:href="@{/account}" class="button is-primary">Account List</a>
    <a th:href="@{'/account/' + ${account.getId()} + '/account_msns/new'}" class="button is-primary">New AccountMsns</a>
    <br />
    <label>msns</label>
    <table class="table">
      <tr>
        <th>id</th>
        <th>host</th>
        <th>port</th>
        <th>version</th>
      </tr>
      <tr th:each="msns : ${msnsList}">
        <td th:text="${msns.getId()}"></td>
        <td th:text="${msns.getHost()}"></td>
        <td th:text="${msns.getPort()}"></td>
        <td th:text="${msns.getVersion()}"></td>
      </tr>
    </table>
    <label>Login Log</label>
    <table class="table">
      <tr>
        <th>LoginDate</th>
      </tr>
      <tr th:each="loginLog : ${loginLogList}">
        <td th:text="${loginLog.getLoginTime()}"></td>
      </tr>
    </table>
  </div>
</body>
</html>