<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>mses - whitelist</title>
</head>
<body>
  <div layout:fragment="contents">
    <h1 class="title">Whitelist</h1>
    <a th:href="@{/dashboard}" class="button is-primary">Dashboard</a>
    <table class="table">
      <tr>
        <th>uuid</th>
        <th>name</th>
      </tr>
      <tr th:each="user : ${whiteList}">
        <td th:text="${user.uuid}"></td>
        <td th:text="${user.name}"></td>
      </tr>
    </table>
  </div>
</body>
</html>