<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>mses</title>
</head>
<body>
  <h1>Ops</h1>
  <form method="post" th:action="@{/logout}">
    <input type="submit" value="logout">
  </form>
  <a th:href="@{/dashboard}">Dashboard</a>
  <table border="1">
    <tr>
      <th>uuid</th>
      <th>name</th>
      <th>level</th>
      <th>bypassesPlayerLimit</th>
    </tr>
    <tr th:each="ops : ${opsList}">
      <td th:text="${ops.uuid}"></td>
      <td th:text="${ops.name}"></td>
      <td th:text="${ops.level}"></td>
      <td th:text="${ops.bypassesPlayerLimit}"></td>
    </tr>
  </table>
</body>
</html>