<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>mses - ops</title>
</head>
<body>
  <div layout:fragment="contents">
    <h1 class="title">Ops</h1>
    <a th:href="@{/dashboard}" class="button is-primary">Dashboard</a>
    <table class="table">
      <tr>
        <th>uuid</th>
        <th>name</th>
        <th>level</th>
        <th>bypassesPlayerLimit</th>
      </tr>
      <tr th:each="ops : ${opsList}">
        <td th:text="${ops.uuid}"></td>
        <td th:text="${ops.name}"></td>
        <td th:text="${ops.level}"></td>
        <td th:text="${ops.bypassesPlayerLimit}"></td>
      </tr>
    </table>
  </div>
</body>
</html>